.dropdown {
    display: flex;
    border-radius: 15px;
    border: 1px solid gray;
    width: 130px;
    padding: 6px;
    justify-content: flex-end;
    background-color: white;
    position: relative;
    height: 25px;
    margin: 5px;
}

.time-select {
    list-style-type: none;
    padding: 0px;
    flex: 1;
}

.dropdown-trigger {
    display: flex;
    flex: auto;
    justify-content: center;
    padding: 6px;
    background: white;
    cursor: pointer;
    font-weight: 500;
    border: none;
    outline: none;
}

.dropdown-trigger img {
    height: 12px;
    padding: 2px 0px 0px 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 6px;
    list-style: none;
    padding: 0;
    background: white;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 10;
    width: 139px;
}

.dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 13.3333px;

}

.dropdown-item:hover {
  background-color: #f5f5f5;
}
