.topbar { 
  display:flex;
  align-items: center;

  top:0px;
  left: 0px;
  width: 100%;
  height: 68.5px;
  flex-shrink: 0;
  background-color: white;
  box-sizing: border-box;
  padding-left: 10px;
}

.topbar button img {
  width: 25px;
  height: 25px;
}

.topbar-buttons {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.topbar button {
  height: 37px;
  padding: 6px;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0px 5px 0px 5px;
}

.topbar button:hover {
  background-color: #f6f6f6;
}

#profile-picture {
  border-radius: 100%;
  border-width: 1px;
  outline: black solid;
}
