body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.warning-item, .warning-item a {
  color:red;
}

h3 {
    font-weight: 500;
    margin: 0px;
}

a {
    width: 100%;
    padding: 12px 16px;

    background: transparent;
    border: none;

    font-size: 14px;
    font-weight: 500;
    text-align: left;

    cursor: pointer;
    border-radius: 6px;

    transition:
        background-color 0.2s ease,
        color 0.2s ease;
    text-decoration: none;
    font-size: medium;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

a.active {
    background-color: rgba(255, 255, 255, 0.2);
}

table {
    outline: #d5d5d5 solid;
    outline-width: 2px;
    margin: 12px;
    box-shadow: 2px 2px 5px 2px #d5d5d5;
    border-radius: 5px;
    background-color: white;
    border-collapse: collapse;
}