/* Search bar */

.search {
  --padding: 14px;

  display:flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  background-color: #efeeee;
  width: 300px;
  max-width: 100%;
  transition: background 0.25s;
}

.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

#search-input {
  font-size: 16px;
  color: #333333;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-icon {
  opacity: 60%;
  width: 20px;
  height: 20px;
}
