/* Sidebar */

.sidebar {
    
    color: #ffffff;

    top: 0;
    left: 0;

    width: 240px;
    height: 100vh;

    background-color: #1f2933;
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    box-sizing: border-box;
}


#main-title {
    margin-top: 5px;
    margin-bottom: 20px;
}

.sidebar a {
    color: white;
}