.inventory-summary {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-top: 2px;
    background-color: rgb(248, 252, 254);
    outline: #d5d5d5 solid;
    outline-width: 2px;
}

.inventory-summary * {
    padding: 12px;
}

.top-widget {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
}

td a {
    color: black;
}



.stock-table td:last-of-type {
    text-align: center;
}

.usage-table td {
    text-align: center;
}

.usage-table td:nth-child(even) {
    border-left: #d5d5d5 solid;
    border-right: #d5d5d5 solid;
}

.inventory-summary h3 {
    height: 49px;
    align-content: center;
    padding-bottom: 0px;
}

.box-header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0px;
}

.box-header h3 {
    padding: 0px;
}